
@{
    ViewData["Title"] = "Home Page";
}



    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="~/images/laptop14.jpg" alt="First slide">
            <div class="carousel-caption">
            </div>
        </div>
        
    </div>

    
@*<style>
        #text-center {
            background-image: linear-gradient(to bottom right,#D8BFD8, #DDA0DD,#DA70D6, #EE82EE);
            color: black;
            height: 200px;
            text-align:center;
        }
    </style>
    <div id="text-center" >
        <h1 class="display-4">Welcome</h1>
    </div>*@
